# ============================================
# File này được docker-compose.yml đọc tự động
# Copy file này thành .env và điền giá trị thật
# ============================================

# --- PostgreSQL ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Ktobii@055
POSTGRES_DB=ai_elearning_db
