absl-py
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-doc
annotated-types
anthropic
anyio
asgiref
astunparse
attrs
bcrypt
beautifulsoup4
blinker
build
cachetools
cerebras_cloud_sdk
certifi
cffi
cfgv
charset-normalizer
chromadb
click
colorama
cryptography
dataclasses-json
distlib
distro
Django
django-widget-tweaks
dotenv
durationpy
einops
Faker
fastapi
filelock
filetype
Flask
flatbuffers
frozenlist
fsspec
ftfy
gast
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
google-pasta
googleapis-common-protos
greenlet
groq
grpcio
grpcio-status
h11
h2
h5py
hf-xet
hpack
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface_hub
hyperframe
identify
idna
importlib_metadata
importlib_resources
itsdangerous
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
keras
kubernetes
langchain
langchain-chroma
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-openai
langchain-protocol
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
libclang
markdown-it-py
markdown2
markdownify
marker-pdf
MarkupSafe
marshmallow
mdurl
ml_dtypes
mmh3
mpmath
multidict
mypy_extensions
mysql
mysql-connector
mysql-connector-python
mysqlclient
namex
narwhals
networkx
ngrok
nltk
nodeenv
numpy
oauthlib
onnxruntime
openai
opencv-python
opencv-python-headless
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opt_einsum
optree
orjson
ormsgpack
overrides
packaging
pandas
pdftext
pillow
platformdirs
pre_commit
propcache
proto-plus
protobuf
psycopg2
pyarrow
pyasn1
pyasn1_modules
pybase64
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
PyMuPDF
pyparsing
pypdf
pypdfium2
PyPika
pyproject_hooks
python-dateutil
python-discovery
python-dotenv
python-multipart
PyYAML
RapidFuzz
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlparse
starlette
streamlit
surya-ocr
sympy
tenacity
tensorflow
termcolor
tf_keras
threadpoolctl
tiktoken
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
transformers
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uuid_utils
uvicorn
virtualenv
watchdog
watchfiles
wcwidth
websocket-client
websockets
Werkzeug
wrapt
xxhash
yarl
zipp
zstandard
